.findUs-card {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 324px;
}

.FindUs-Header {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}

.findUs-Span {
    height: 2px;
    width: 35%;
    display: block;
    background-color: #4caf50;
    margin-bottom: 26px;
    margin-top: 5px;
}

.findUs-content {
    display: flex;
    gap: 15px;
}

.findUs-content img {
    width: 148px;
    object-fit: cover;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 18%);
    margin-right: 18px;
}

.findUs-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 38px;
    background: #8bc34a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background .3s;
}

.btn:hover {
    background: #54a958;
}