.industry-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: 360px;
}

.industry-header {
    color: black;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}

.industry-Span {
    height: 2px;
    width: 35%;
    display: block;
    background-color: #4caf50;
    margin-bottom: 26px;
    margin-top: 4px;
}

.industry-scrollbar{
    max-height: 291px;
    overflow-y: auto;
    padding-right: 20px;
}

.industry-scrollbar::-webkit-scrollbar {
    width: 7px;
}

.industry-scrollbar::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 4px;
}
